<div class="header-profile">
    <div class="container-profileImage">
        <img src="/public/upload/userpicture/default.jpeg" alt="" class="profileImage">
    </div>
    <div class="header-profile-information">
        <p id="header-profile-information-name" class="texto-important1"><%= profileinfo.name %></p>
        <p id="header-profile-information-username" class="texto-important2">@<%= profileinfo.username %></p>
    </div>
    <div class="header-profile-buttons">
        <button class="header-profile-buttons-button">
            Seguir
        </button>
        <button class="header-profile-buttons-button">
            Solicitud
        </button>
    </div>
</div>