<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/public/js/buscador.js"></script>
    <link rel="stylesheet" href="/public/header.css">
</head>
<body>
    <%- include('./viewcomponets/header') -%>
    <% if(people.length == 0) {%>
        <script>
            alert("No se encontro ninguna coincidencia")
        </script>
    <%}%>
    <% people.forEach((person) => { %>
        <div class="userinfo" style="background-color: gray;">
            <a href= <%= "/user/"+person.username %>><%= person.name %></>
            <p><%= person.username %></p>
        </div>
    <%})%>
</body>
</html>