<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="./public/sing-up.css">
    <script src="./public/js/sing-up.js"></script>
    <script src="./public/js/encrypt.js" type="module"></script>
</head>
<body>
    <form action="" method="POST" id="form" class="form-registro">
        <div class="form-text">
            <input type="text" placeholder="Nombre" name="name" id="name">
            <input type="text" placeholder="Nombre de usuario" name="username" id="username">
            <input type="password" placeholder="Contraseña" name="password" id="password">
        </div>
        <div class="form-buttons">
            <button class="form-buttons-regresar boton" type="button" id="Regresar">
                Regresar
            </button>   
            <button class="form-buttons-registrar boton" id="avanzar" type="button">
                Registrar
            </button> 
        </div>
    </form>
</body>
</html>