<!DOCTYPE html>
<html lang="en">
<head>
    <!--Dio mio cuanto desastre tengo aqui-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/header.css">
    <link rel="stylesheet" href="/public/Profile.css">
    <link rel="stylesheet" href="/public/botones.css">
    <link rel="stylesheet" href="/public/textfield.css">
    <script src="/public/js/loged_pages/GetAllPublicactions.js"></script>
    <script src="/public/js/loged_pages/index.js" type="module"></script>
    <script src="/public/js/loged_pages/CreateAPB.js" type="module"></script>
    <script src="/public/js/buscador.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- Header -->
    <%- include('../viewcomponets/header') -%>
    <%- include('./viewcomponets/textfield') -%>
    <!--De aqui para abajo van las publicaciones-->
</body>
</html>