<header class="barra">
    <input type="text" class="barra-buscador textfield" id="buscador">
    <ul class="barra-botones">
        <li class="barra-botones-boton" id="mainpage_button">Pagina Principal</li>
        <li class="barra-botones-boton" id="Perfil">Perfil</li>
        <li class="barra-botones-boton" id="logout_button">Cerrar sesion</li>
    </ul>
</header>