<div class="textfield-container">
    <div class="container">
        <textarea type="text" id="main-textfield" rows="5" cols="30" maxlength="155"></textarea>
        <div class="container-options">
            <button class="boton" id="create_pub_button">
                Publicar
            </button>
            <p id="counter">155</p>
        </div>
    </div>
</div>