<div class="container">
    <textarea type="text" id="main-textfield" rows="5" cols="30" maxlength="155"></textarea>
    <button class="boton" id="create_pub_button">
        Publicar
    </button>
</div>